<div class="login-container" >
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <mat-form-field class="col-12">
            <input matInput formControlName="username" placeholder="User">
            <mat-error *ngIf="loginForm.get('username')?.hasError('required')">User é obrigatório</mat-error>
          </mat-form-field>
          <mat-form-field class="col-12">
            <input matInput formControlName="password" type="password" placeholder="Senha">
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Senha é obrigatório</mat-error>
          </mat-form-field>
          
          <button class="col-12"  mat-raised-button color="primary" type="submit">Login</button>
          <div class="register-link">
            <a [routerLink]="'/new-user'">Registrar novo usuário</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  